#header{
    background-image: url("../img/cheese-delicious-dinner-2232.jpg");
    background-size: cover;
  
    background-repeat: no-repeat;
    height: 100%;
   
    text-align: center;
    color: brown;
padding:600px 400px;
}
#header,h1{
    font-size: 200px;
    }
    #forms{
        font-weight: normal;
        font-style: italic;
        text-align: left;
        font-size: 40px;
        padding-top: 6%;
    }